Source: cert-svc
Section: libs
Priority: extra
Maintainer: KiDong Kim <kd0228.kim@samsung.com>
Build-Depends: debhelper (>= 5),
 libappcore-efl-dev,
 autotools-dev,
 libelm-dev,
 libslp-setting-dev,
 libui-gadget-dev,
 libbundle-dev,
 libaul-1-dev,
 libefreet-dev,
 libeina-dev,
 shared-mime-info,
# java-runtime-dev,
 libail-0-dev,
 libpkgmgr-client-dev,
 libjava-parser-dev,
 debhelper (>= 7.0.50), 
 libssl-dev, 
 dlog-dev, 
 ca-certificates, 
 wrt-commons-dev, 
 libxmlsec1-dev, 
 libsoup2.4-dev, 
 libecore-dev, 
 libxml2-dev, 
 libpcre-dev, 
 libslp-tapi-dev,
 libappsvc-dev

Package: libcert-svc1-ui
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libappsvc-dev
Description: Manage Application package

#Package: libug-setting-manage-application-efl-dbg
#Section: debug
#Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}, libug-setting-manage-application-efl-0 (= ${binary:Version})
#Description: Manage Application debug(unstripped) package

Package: libcert-svc-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libcert-svc1 (= ${binary:Version}), libssl-dev, dlog-dev
Description: Certification service development package

Package: libcert-svc1
Section: libs
Architecture: any
Provides: libcert-svc-0
Replaces: libcert-svc-0
Depends: ${shlibs:Depends}, ${misc:Depends}, sqlite3
Description: Certification service library and executable

Package: libcert-svc1-dbg
Section: debug
Architecture: any
Provides: libcert-svc-dbg
Replaces: libcert-svc-dbg
Depends: ${misc:Depends}, libcert-svc1 (= ${binary:Version})
Description: debug package of cert-svc library

Package: libcert-svc1-test
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libcert-svc1 (= ${binary:Version})
Description: test program for cert-svc
